@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

	html[theme="light"] {
		--app-dark: theme(colors.slate.950);
		--app--dark: theme(colors.slate.300);
		--app---dark: theme(colors.gray.800);
		--app-light: theme(colors.slate.100);
		--app--light: theme(colors.slate.200);
		--app-shadow: #00000025;
		--app-primary: theme(colors.lime.600);
		--error: theme(colors.red.600);
		--success: theme(colors.green.600);
		--danger: theme(colors.yellow.600);
		--text : theme(colors.black);
	  }
	  html {
	  
		--app-dark: theme(colors.slate.100);
		--app--dark: theme(colors.slate.200);
		--app---dark: theme(colors.slate.300);
		--app-light: theme(colors.slate.950);
		--app--light: theme(colors.slate.900);
		--app-shadow: #00000025;
		--app-primary: theme(colors.lime.300);
		--error: theme(colors.red.300);
		--success: theme(colors.green.300);
		--danger: theme(colors.yellow.300);
		--text : theme(colors.white);
	  }

  body {
    background-color: var(--dark);
    color: var(--light);
    height: 100vh;
    overflow: hidden;
  }

  .see {
    @apply border border-red-500
  }

  .convchoosed{
	background-color: rgba(23, 134, 153, 0.552);
	
  }
  /* photoinpu */
  .input-div {
	position: relative;
	
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 2px solid rgb(1, 235, 252);
	display: flex;
	background-color: rgba(183, 225, 228, 0.349);;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	box-shadow: none;
  }
  .input-div:hover{
		box-shadow: 0px 0px 20px rgb(1, 235, 252) , inset 0px 0px 5px rgb(1, 235, 252),0px 0px 5px rgb(255, 255, 255);

	border: none;
	  
  }
  .icon {
	color: rgb(1, 235, 252);
	font-size: 2rem;
	cursor: pointer;
	animation:  2s linear infinite;
  
  }
  
  .input {
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	cursor: pointer !important;
  }
  
  @keyframes flicker {
	0% {
	  border: 2px solid rgb(1, 235, 252);
	  box-shadow: 0px 0px 100px rgb(1, 235, 252) , inset 0px 0px 10px rgb(1, 235, 252),0px 0px 5px rgb(255, 255, 255);
	}
  
	5% {
	  border: none;
	  box-shadow: none;
	}
  
	10% {
	  border: 2px solid rgb(1, 235, 252);
	  box-shadow: 0px 0px 100px rgb(1, 235, 252) , inset 0px 0px 10px rgb(1, 235, 252),0px 0px 5px rgb(255, 255, 255);
	}
  
	25% {
	  border: none;
	  box-shadow: none;
	}
  
	30% {
	  border: 2px solid rgb(1, 235, 252);
	  box-shadow: 0px 0px 100px rgb(1, 235, 252) , inset 0px 0px 10px rgb(1, 235, 252),0px 0px 5px rgb(255, 255, 255);
	}
  
	100% {
	  border: 2px solid rgb(1, 235, 252);
	  box-shadow: 0px 0px 100px rgb(1, 235, 252) , inset 0px 0px 10px rgb(1, 235, 252),0px 0px 5px rgb(255, 255, 255);
	}
  }
  
  
  
  /* Chat */
  .cardPhotoChat {
	width: 100%;
	margin: auto;
	height: 200px;
	border-radius: 5px;
	background: #e0e0e0;
	box-shadow: 2px 2px 3px #bebebe,
				  -1px -1px 3px #ffffff;
   }
   .Chatphotoholder {
    background-color: #f0f0f0;
    border-radius: 15px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Chatphotoholder img {
    width: 100%;
    
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.Chatphotoholder img:hover {
    transform: scale(1.05);
}

/* camera */
video {
	height: 100%;
	width: 100%;
  
	object-fit: cover;
	transition: transform 0.4s;
	object-position: center;
}

.imageContainer {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;


	position: relative;
	overflow: hidden;
	background: #000;
}

.imageContainerInner {
	width: 100%;
	overflow: hidden;
	margin-top: -64px;
	position: relative;
}

.imageContainer img {
	display: flex;
  
	align-self: center;
	width: 100%;
	height: 100%;
	transform: scale(1);
	transition: transform 0.4s;
}

.controls {
	position: absolute;
	bottom: 128px;
	background: rgba(0, 0, 0, 0.54);
	border-radius: 50px;
	display: flex;
	gap: 16px;
	padding: 8px 12px;
	z-index: 20;
}

.controls button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	border: none;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.56);
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	font-family: system-ui, arial, sans-serif;
	transition: transform 0.2s;
}

.controls button span {
	display: none;
}

.controls button.active {
	transform: scale(1.2);
	color: yellow;
	transition: transform 0.2s;
}

.controls button.active span {
	font-size: 12px;
	display: flex;
}

.otherControls {
	position: absolute;
	bottom: 16px;

	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	padding: 10px 30px;
	align-items: center;
	z-index: 20;
}

.camerabutton {
	height: 52px;
	width: 52px;
	background: #fff;
	border-radius: 100%;
	box-shadow: 0px 0px 0px 3px rgb(0 0 0 / 90%), 0px 0px 0px 6px #fff;
	border: 0;
}

.thumbnail {
	height: 48px;
	width: 48px;
	background: #fff;
	overflow: hidden;
	border-radius: 6px;
	border: 0;
}

.switchCamera {
	height: 45px;
	width: 45px;



}

.switchCamera span {
	color: #ffff;
	display: flex;
	justify-content: center;
	font-size: 30px;
}

.thumbnail img {
	object-fit: cover;
}

@media screen and (max-width: 767px) {
	.imageContainer {
		overflow: hidden;
		border: 0;
		border-radius: 0;
	}

	.imageContainer,
	.imageContainer > img {
		width: 100vw;
		height: 100vh;
	}

	.imageContainerInner {
		height: 100vh;
		margin: 0;
	}
  /* end cam */
  
}

/* Styles for flip animation */
@keyframes flipInY {
	from {
		transform: perspective(400px) rotateY(90deg);
		opacity: 0;
	}

	to {
		transform: perspective(400px) rotateY(0);
		opacity: 1;
	}
}

@keyframes flipOutY {
	from {
		transform: perspective(400px) rotateY(0);
		opacity: 1;
	}

	to {
		transform: perspective(400px) rotateY(90deg);
		opacity: 0;
	}
}

.flipping-out {
	animation: flipOutY 0.5s forwards;
}

.flipping-in {
	animation: flipInY 0.5s forwards;
}

.flash {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 9;
	top: 0;
}

.shutterClick {
	animation: cameraFlash 0.3s 0.3s alternate-reverse 1;
}

@keyframes cameraFlash {
	from {
		box-shadow: none;
	}

	to {
		box-shadow: inset 0 0 0 100px #fff;
	}
}

.heart {
	position: absolute;
	bottom: 0;
	left: 50%;
	font-size: 24px;
	transform: translateX(-50%);
	opacity: 0;
	transition: bottom 2s ease, opacity 2s ease;
}

/* Containers */
.main {
    @apply w-screen bg-app--dark h-screen flex flex-col items-center p-4 animate-toright
  }

  

  .center {
    @apply flex justify-center items-center gap-4
  }

  .full {
    @apply w-full h-full
  }
}

@layer components {

	.btn-base {
		@apply
		bg-app-primary text-app-light font-bold py-2 px-4 rounded-full hover:ring-2 capitalize
		hover:ring-app-light hover:scale-110 duration-300 shadow-lg cursor-pointer outline-none
	  }

  .btn-simple {
    @apply bg-app-dark w-full h-full p-1  hover:scale-105 hover:cursor-pointer hover:bg-gray-700
  }

  .btn-simple.active {
    @apply bg-app-dark
  }


  .btn-dark {
    @apply bg-app-dark p-2 duration-300 hover:bg-app-light rounded-md
  }
  .appsbackground{

	box-shadow: rgba(135, 156, 180, 0.3) 0px 0px 0px 3px;
}
	.checkbox-wrapper-10 .tgl {
		display: none;
	  }
	  
	  .checkbox-wrapper-10 .tgl,
		.checkbox-wrapper-10 .tgl:after,
		.checkbox-wrapper-10 .tgl:before,
		.checkbox-wrapper-10 .tgl *,
		.checkbox-wrapper-10 .tgl *:after,
		.checkbox-wrapper-10 .tgl *:before,
		.checkbox-wrapper-10 .tgl + .tgl-btn {
		box-sizing: border-box;
	  }
	  
	  .checkbox-wrapper-10 .tgl::-moz-selection,
		.checkbox-wrapper-10 .tgl:after::-moz-selection,
		.checkbox-wrapper-10 .tgl:before::-moz-selection,
		.checkbox-wrapper-10 .tgl *::-moz-selection,
		.checkbox-wrapper-10 .tgl *:after::-moz-selection,
		.checkbox-wrapper-10 .tgl *:before::-moz-selection,
		.checkbox-wrapper-10 .tgl + .tgl-btn::-moz-selection,
		.checkbox-wrapper-10 .tgl::selection,
		.checkbox-wrapper-10 .tgl:after::selection,
		.checkbox-wrapper-10 .tgl:before::selection,
		.checkbox-wrapper-10 .tgl *::selection,
		.checkbox-wrapper-10 .tgl *:after::selection,
		.checkbox-wrapper-10 .tgl *:before::selection,
		.checkbox-wrapper-10 .tgl + .tgl-btn::selection {
		background: none;
	  }
	  
	  .checkbox-wrapper-10 .tgl + .tgl-btn {
		outline: 0;
		display: block;
		width: 4em;
		height: 2em;
		position: relative;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	  }
	  
	  .checkbox-wrapper-10 .tgl + .tgl-btn:after,
		.checkbox-wrapper-10 .tgl + .tgl-btn:before {
		position: relative;
		display: block;
		content: "";
		width: 50%;
		height: 100%;
	  }
	  
	  .checkbox-wrapper-10 .tgl + .tgl-btn:after {
		left: 0;
	  }
	  
	  .checkbox-wrapper-10 .tgl + .tgl-btn:before {
		display: none;
	  }
	  
	  .checkbox-wrapper-10 .tgl:checked + .tgl-btn:after {
		left: 50%;
	  }
	  
	  .checkbox-wrapper-10 .tgl-flip + .tgl-btn {
		padding: 2px;
		transition: all 0.2s ease;
		font-family: sans-serif;
		perspective: 100px;
	  }
	  
	  .checkbox-wrapper-10 .tgl-flip + .tgl-btn:after,
		.checkbox-wrapper-10 .tgl-flip + .tgl-btn:before {
		display: inline-block;
		transition: all 0.4s ease;
		width: 100%;
		text-align: center;
		position: absolute;
		line-height: 2em;
		font-weight: bold;
		color: #fff;
		position: absolute;
		top: 0;
		left: 0;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		border-radius: 4px;
	  }
	  
	  .checkbox-wrapper-10 .tgl-flip + .tgl-btn:after {
		content: attr(data-tg-on);
		background: #02C66F;
		transform: rotateY(-180deg);
	  }
	  
	  .checkbox-wrapper-10 .tgl-flip + .tgl-btn:before {
		background: #FF3A19;
		content: attr(data-tg-off);
	  }
	  
	  .checkbox-wrapper-10 .tgl-flip + .tgl-btn:active:before {
		transform: rotateY(-20deg);
	  }
	  
	  .checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:before {
		transform: rotateY(180deg);
	  }
	  
	  .checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:after {
		transform: rotateY(0);
		left: 0;
		background: #7FC6A6;
	  }
	  
	  .checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:active:after {
		transform: rotateY(20deg);
	  }

	  .containerpatern {
		
		width: 100%;
		height: 100%;
border-radius: 5px;
border: .5px solid rgba(81, 80, 80, 0.538);
box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

		--s: 600px;
		--c1: #b2b2b2;
		--c2: #ffffff;
		--c3: #d9d9d9;
	  
		--_g: var(--c3) 0 120deg, #0000 0;
		background: conic-gradient(from -60deg at 50% calc(100% / 3), var(--_g)),
		  conic-gradient(from 120deg at 50% calc(200% / 3), var(--_g)),
		  conic-gradient(
			from 60deg at calc(200% / 3),
			var(--c3) 60deg,
			var(--c2) 0 120deg,
			#0000 0
		  ),
		  conic-gradient(from 180deg at calc(100% / 3), var(--c1) 60deg, var(--_g)),
		  linear-gradient(
			90deg,
			var(--c1) calc(100% / 6),
			var(--c2) 0 50%,
			var(--c1) 0 calc(500% / 6),
			var(--c2) 0
		  );
		background-size: calc(1.732 * var(--s)) var(--s);
		  
	}
	.authfront{
		box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	}
	.authphoto{
		box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
		border: 2px solid white;
		background-color: #d9d9d9;
	}
	  .windowshadow{
		box-shadow: rgba(2, 237, 245, 0.295) 0px 1px 1px, rgba(2, 237, 245, 0.295) 0px 0px 1px 1px,rgba(2, 237, 245, 0.295) 0px 1px 1px, rgba(2, 237, 245, 0.295) 0px 0px 1px 1px;	  
	}
	.cardshadow{
		box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
	}
				.custom-scrollbar {
			overflow-y: scroll;
		  }
		  
		  
		  .custom-scrollbar::-webkit-scrollbar {
			width: 8px; 
		  }
		  
		  /* Track */
		  .custom-scrollbar::-webkit-scrollbar-track {
			background: #fefefe90; 
		  }
		  
		  
		  /* Handle */
		  .custom-scrollbar::-webkit-scrollbar-thumb {
			background: #888; 
			border-radius: 4px; 
		  }
		  
		  /* Handle on hover */
		  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
			background: #555; 
		  }
		  /* The switch - the box around the slider */
#theme-toggle-button {
	font-size: 17px;
	position: relative;
	display: inline-block;
	width: 7em;
	cursor: pointer;
  }
  
  /* Hide default HTML checkbox */
  #toggle {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  #container,
  #patches,
  #stars,
  #button,
  #sun,
  #moon,
  #cloud {
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.25s;
  }
  
  /* night sky background */
  #toggle:checked + svg #container {
	fill: #2b4360;
  }
  
  /* move button to right when checked */
  #toggle:checked + svg #button {
	transform: translate(28px, 2.333px);
  }
  
  /* show/hide sun and moon based on checkbox state */
  #sun {
	opacity: 1;
  }
  
  #toggle:checked + svg #sun {
	opacity: 0;
  }
  
  #moon {
	opacity: 0;
  }
  
  #toggle:checked + svg #moon {
	opacity: 1;
  }
  
  /* show or hide background items on checkbox state */
  #cloud {
	opacity: 1;
  }
  
  #toggle:checked + svg #cloud {
	opacity: 0;
  }
  
  #stars {
	opacity: 0;
  }
  
  #toggle:checked + svg #stars {
	opacity: 1;
  }
  .settings-background {

	background-image: url('https://previews.123rf.com/images/natashapankina/natashapankina1606/natashapankina160600041/58183413-les-outils-de-construction-de-griffonnage-dessin%C3%A9-seamless-background-main-set-vector-ic%C3%B4nes-de.jpg');
	

	
	
	 filter: blur(1px);
	backdrop-filter: blur(100%);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
	
  }
  .settingsdivsbackground{
	background-color: rgba(253, 251, 251, 0.918);
	z-index: 10;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  .messages{
	
	font-size: larger;
	letter-spacing: 0.3px;

  }
  .storiecardowner{
	--background: linear-gradient(to right, #fff200 0%, #bfff00 100%);
	cursor:pointer;
	width: 150px;
	height: 254px;
	padding: 5px;
	margin: auto;
	border-radius: 1rem;
	overflow: visible;
	background: #74ebd5;
	background: var(--background);
	position: relative;
	z-index: 1;
  }
  .storiecard {
	--background: linear-gradient(to right, #74ebd5 0%, #acb6e5 100%);
	cursor:pointer;
	width: 150px;
	height: 254px;
	padding: 5px;
	margin: auto;
	border-radius: 1rem;
	overflow: visible;
	background: #74ebd5;
	background: var(--background);
	position: relative;
	z-index: 1;
  }
  
  .storiecard::before,
  .storiecard::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	z-index: -1;
  }
  
  .storiecard::before {
	background: linear-gradient(to bottom right, #f6d365 0%, #fda085 100%);
	transform: rotate(2deg);
  }
  
  .storiecard::after {
	background: linear-gradient(to top right, #84fab0 0%, #8fd3f4 100%);
	transform: rotate(-2deg);
  }
  
  .card-info {
	--color: #292b2c;
	background: var(--color);
	color: var(--color);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	overflow: visible;
	border-radius: 0.7rem;
	position: relative;
	z-index: 2;
  }
  
  .storiecard .title {
	font-weight: bold;
	letter-spacing: 0.1em;
  }
  
  .storiecard:hover::before,
  .storiecard:hover::after {
	opacity: 0;
  }
  
  .storiecard:hover .card-info {
	color: #74ebd5;
	transition: color 1s;
  }
  .photosshadowgalery{
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
  .lightshadow{
	background-color: rgba(255, 255, 255, 0.433);
  }
	}

@layer utilities {
	.animate-toright {
		animation: kfr-toright 1s;
	  }
	
	  @keyframes kfr-toright {
		from {
		  transform: translate(-100%);
		  opacity: 0;
		}
	  }
	  @keyframes ripple {
		0% {
		  background-color: transparent;
		}
	  
		30% {
		  background-color: var(--cell-color);
		}
	  
		60% {
		  background-color: transparent;
		}
	  
		100% {
		  background-color: transparent;
		}
	  }
	  .animate-toleft {
		animation: kfr-toleft 2s;
	  }
	
	  @keyframes kfr-toleft {
		from {
		  transform: translate(100%);
		  opacity: 0;
		}
	  }
	
	  .animate-rotate45 {
		animation: kfr-rotate45 2s;
	  }
	
	  @keyframes kfr-rotate45 {
		from {
		  transform: rotate(45deg);
		  opacity: 0;
		}
	  }
	  .clignote {
		animation: clignotes 1.5s infinite;
	  }
	
	  @keyframes clignotes {
		0% {
		  opacity: 0;
		}
		100% {
		  opacity: 1;
		}}
	
	  .animate-zoom {
		animation: kfr-zoom 2s;
	  }
	
	  @keyframes kfr-zoom {
		from {
		  transform: scale(0);
		  opacity: 0;
		}
	  }

  .animate-move {
    animation: kfr-animate-move 1s infinite;
  }

  @keyframes kfr-animate-move {
    0% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(-10deg);
    }
  }
  .animate-hide {
    animation: kfr-animate-hide .3s forwards;
  }

  @keyframes kfr-animate-hide {
    100% {
      transform: scale(0);
      opacity: 0;
      display: hidden;
    }
  }

  .animate-open {
    animation: kfr-animate-open .3s forwards;
  }

  @keyframes kfr-animate-open {
    0% {
      transform: scale(0);
      opacity: 0;
      display: hidden;
    }
  }
  .iconholder:hover .icon {
    animation: iconrot 0.3s ease;
  }

  @keyframes iconrot {
      0% {
          transform: rotate(0deg);
      }
      50% {
          transform: rotate(20deg);
      }
      100% {
          transform: rotate(-10deg);
      }
  }

}


