@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    --dark: theme(colors.zinc.950);
    --dark-t: theme(colors.zinc.900);
    --light: theme(colors.zinc.100);
    --shadow-dark: #00000030;
    --shadow-light: #ffffff30;
    --primary: theme(colors.rose.600);
  }

  body {
    background-color: var(--dark);
    color: var(--light);
    height: 100vh;
    overflow: hidden;
  }

  .see {
    @apply border border-red-500
  }

}

@layer components {

  .btn-simple {
    @apply w-full h-full p-2 duration-300 hover:bg-shadow-light
  }


  .btn-dark {
    @apply bg-dark w-full h-full p-2 duration-300 hover:bg-dark-t rounded-md
  }

}

@layer utilities {
  .animate-move {
    animation: kfr-animate-move 1s infinite;
  }

  @keyframes kfr-animate-move {
    0% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(-10deg);
    }
  }
  .animate-hide {
    animation: kfr-animate-hide .3s forwards;
  }

  @keyframes kfr-animate-hide {
    100% {
      transform: scale(0);
      opacity: 0;
      display: hidden;
    }
  }

  .animate-open {
    animation: kfr-animate-open .3s forwards;
  }

  @keyframes kfr-animate-open {
    0% {
      transform: scale(0);
      opacity: 0;
      display: hidden;
    }
  }
}